.idea
.ipynb_checkpoint
./base_image/.ipynb_checkpoints
./base_image/code/.ipynb_checkpoints
./custom_image/.ipynb_checkpoints
./custom_image/docker/.ipynb_checkpoints
./custom_image/code/.ipynb_checkpoints